<form action="/new" method="post">
    <h1>New Message Form</h1>
    <input type="text" name="user" id="user" placeholder="Name">
    <br>
    <input type="text" name="text" id="text" placeholder="Message">
    <br>
    <button type="submit">Add Message</button>
</form>